[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
redis = "*"
hiredis = "*"
pyshark = "*"
ipa = {editable = true,path = "."}
markdown = "*"

[requires]
python_version = "3.6"
